input {
    padding: 3px;
}

label {
    padding: 3px;
}

#description {
    display: block;
    margin: 10px;
}

.navbar-nav > li{
    padding-left: 18px;
    padding-right: 18px;
}

#user-input {
    margin: 0 auto;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}