table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

tbody tr:hover {
    cursor: pointer;
}

span.triangles {
    padding-left: .5em;
}

span#sortByDateIcon:hover {
    cursor: pointer;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    cursor: pointer;
    color: white;
}

#overlay-container {
    margin-top: 30vh;
}

#overlay-container > table {
    width: auto;
}

/* #overlay-container > table > tbody > tr,
#overlay-container > table > tbody > th {
    border: none;
} */

.navbar-nav > li {
    padding-left: 18px;
    padding-right: 18px;
}

#logo {
    width: 50px;
    height: 50px;
    background-image: url(logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    float: left;
}

#groups {
    width: 80vw;
    margin: 0 auto;
    margin-top: 5vh;
}

/* #background {
    background-image: url(cookSide.jpeg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
} */

@media only screen and (max-width: 992px) {
  div#groups {
    width: 100%;
  }

  .numberOfPeople, .timeToMeet{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: .8em;
  }
}