
.jumbotron{
    
    background-image: url(cook.jpg);
    color:white;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    height: 100vh;
}

.lead {
    display:inline-block;
}
.lead2 {
    display:inline-block;
    margin-left:10px;
}

.navbar-expand-lg{
    
    

}

.navbar-brand {
    float:left;
    display:inline-block;
    color:red;
}

#logo {
    
    width:50px;
    height:50px;
    background-image:url(logo.png);
    background-size:cover;
    background-repeat:no-repeat;
    margin-right:10px;
    float:left;
}

.my-4 {
    border-color: white;
}