.navbar-nav > li{
    padding-left: 18px;
    padding-right: 18px;
}

#main1 > h1 {
    margin-top: 150px;
}

#main2 > h1 {
    margin-top: 150px;
}

#main1 {
    background-image: url("../css/main/create.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

#main2 {
    background-image: url("../css/main/find.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}